.#{$app-prefix}-table{
  @extend .table;
  border-radius: 3px;
  white-space: nowrap;
  &> thead,
  &> tbody,
  &> tfoot {
    &> tr {
      &> th,
      &> td {
        white-space: nowrap;
      }
    }
  }
}

.#{$app-prefix}-table-responsive{
  width: 100%;
  margin-bottom: ($line-height-computed * 0.75);
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid $table-border-color;
  -webkit-overflow-scrolling: touch;
}